body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(178,91,106);
    background: linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);

}

.counter_p{
  color: white;
  display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background: #1c1b1b;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10%;

}

.mid-button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_style_1{
    color: black;
    padding: 1%;
    border: black solid 3px;
    border-radius: 8%;
    font-size: 1.5rem;
}

.title_game{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 10%;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px;


}

.button_style_1:active{
    transform: scale(95%);
}





