body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(178,91,106);
    background: linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);


}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    background-color: #24252a;

}

.logo {
    cursor: pointer;
}

.nav__links2 a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links2 {
    list-style: none;
    display: flex;
}

.nav__links2 li {
    padding: 0 20px;
}

.nav__links2 li a {
    transition: color 0.3s ease 0s;
}

.nav__links2 li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgb(178,91,106);;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(78,47,97,1);
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}






.ha1{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6rem;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 20px;


}

.gift-card{
    font-size: 2rem;
}

.gplay{
    font-size: 1.5rem;


}


.on_off {

    color: white;
    text-shadow: 2px 2px 3px black;
    padding: 1%;
    border: white solid 3px;
    border-radius: 8%;


}

.onofff{
    display: flex;
    justify-content: center;

}


.on_off:hover{
    transform: scale(95%);
}









* {
    box-sizing: border-box;
}



.wrappe {
    display: flex;
    justify-content: center;
}

.ctar {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #4E2F61;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);

}

.ctar:focus {
    outline: none;
}

.ctar:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #B25B6A;

}

.ctar span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;

}

.ctar:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;

}

span {
    transform: skewX(15deg);
}


span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.ctar:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.ctar:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.ctar:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #B25B6A;
    }
    100% {
        fill: white;
    }
}









a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;

}

a:hover, a:focus{
    color: #0088a9;

}


.nav_title{
    color: #fff;
    font-size: 1.4em;
    background: -webkit-linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);
    padding: 4px;
    border-radius: 18px;
}


.to_index{
    color: #fff;
    font-size: 1em;
    background: -webkit-linear-gradient(90deg, rgba(178,91,106,1) 19%, rgba(78,47,97,1) 70%);
    padding: 4px;
    border-radius: 18px;
    text-decoration: none;
}








.center-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}




.games-cards{
    display: inline-block;
    justify-content: center;
    margin: 2%;
    width: 50%;
    height: 100%;

}

.card{
    padding: 2%;
    margin: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;


}



.card__image{

    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;

    margin-top: -10%;
    margin-bottom: 15%;
}

.card__image-container{
    padding: 10%;
    width: 100%;

}

.card__image:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.card__content{
    margin-top: -20%;
    text-align: center;
    font-size: 1rem;
    color: #000000;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 20px #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    text-decoration: none;


}
.card__title{
    color: #4E2F61;
}
.card__text{
    font-size: 1rem;
    color: #B25B6A;


}

















